import React from 'react'
import './{{pascalCase name}}.css';

interface I{{pascalCase name}}Props {

}

export const {{pascalCase name}}: React.FC<I{{pascalCase name}}Props> = props => {
  return (
    <div className='{{camelCase name}}' data-testid='{{camelCase name}}'>
      {{pascalCase name}}
    </div>
  )
}
